{% extends "base.html" %}
{% block content %}
    <div class="row">

        <div class="col-8">
            <h2>CI/CD</h2>
            <h5>Continuous Integration</h5>
            <p>
                Continuous Integration is a software development practice where members of a team integrate their work
                frequently,
                usually each person integrates at least daily - leading to multiple integrations per day.
                The term 'Continuous Integration' originated with Kent Beck's Extreme Programming development process,
                as one of its original twelve practices.<sup><a
                    href="https://www.martinfowler.com/articles/continuousIntegration.html"
                    target="_blank">[1]</a></sup>
            </p>
            <h6>Practices of Continuous Integration:</h6>
            <ul>
                <li>Maintain a Single Source Repository.</li>
                <li>Automate the Build</li>
                <li>Make Your Build Self-Testing</li>
                <li>Everyone Commits To the Mainline Every Day</li>
                <li>Every Commit Should Build the Mainline on an Integration Machine</li>
                <li>Fix Broken Builds Immediately</li>
                <li>Keep the Build Fast</li>
                <li>Test in a Clone of the Production Environment</li>
                <li>Make it Easy for Anyone to Get the Latest Executable</li>
                <li>Everyone can see what's happening</li>
                <li>Automate Deployment</li>
            </ul>
            <h6>Benefits of CI</h6>
            <ul>
                <li>The greatest and most wide ranging benefit of Continuous Integration is reduced risk.</li>
                <li>Continuous Integrations doesn't get rid of bugs but make them dramatically easier to find and
                    remove.
                </li>
                <li>If you have continuous integration, it removes one of the biggest barriers to frequent deployment.
                    Frequent deployment is valuable because it allows your users to get new features more rapidly, to
                    give more rapid feedback on those features, and generally become more collaborative in the
                    development cycle.
                </li>
            </ul>

            <div>
                <h5>Continuous Delivery</h5>
                <p>Continuous Delivery is a software development discipline where you build software in such a way that
                    the software can be released to production at any time.
                    Continuous Delivery is sometimes confused with Continuous Deployment. Continuous Deployment means
                    that every change goes through the pipeline and automatically gets put into production, resulting in
                    many production deployments every day. Continuous Delivery just means that you are able to do
                    frequent deployments but may choose not to do it, usually due to businesses preferring a slower rate
                    of deployment. In order to do Continuous Deployment you must be doing Continuous Delivery.</p>
                <p>
                    To achieve continuous delivery you need:
                </p>
                <ul>
                    <li>A close, collaborative working relationship between everyone involved in delivery (often
                        referred to as a DevOpsCulture
                    </li>
                    <li>Extensive automation of all possible parts of the delivery process, usually using a
                        DeploymentPipeline
                    </li>
                    <sup><a href="https://www.martinfowler.com/bliki/ContinuousDelivery.html"
                            target="_blank">[2]</a></sup>
                </ul>
                <h6>Benefits of CD</h6>
                <ul>
                    <li>Reduced Deployment Risk</li>
                    <li>Believable Progress</li>
                    <li>User Feedback</li>
                </ul>
                <div>
                    <h5>Github Actions:</h5>
                    <ul>
                        <li>Github Actions is the CI/CD tool developed by Github</li>
                        <li>Workflows are used to as a part of the CI/CD setup</li>
                        <li>Github workflows will be triggered based on the yml files inside .github/workflows folder in
                            the
                            repository.
                            Secrets needed to be passed into the yml files are setup on Github.
                        </li>
                        <li>In this project 2 workflows are being used</li>
                        <ul>
                            <li>Developement workflow</li>
                            <li>Production workflow</li>
                        </ul>
                    </ul>
                </div>
                <div>
                    <h6>Development Workflow</h6>
                    <p>
                        Whenever a PR (Pull Request) is opened to add a new change, the development worflow is triggered.
                        During the development workflow, the following events happen:
                    </p>
                    <ul>
                        <li>Runs all checks and tests.</li>
                        <li>If all checks pass, the image is then deployed to the dev app on Heroku.</li>
                        <li>Any new commits that go into the PR will trigger the workflow again.</li>
                        <li>When the development workflow is run, the production app remains untouched and free of errors.</li>
                        <li>Code changes can be reviewed on the Pull Request, and the corresponding feature changes can be viewed on the dev heroku app's url.</li>
                        <li>Using the dev app's url anybody can review the code.</li>
                    </ul>
                </div>
                <div>
                    <h6>Production Workflow</h6>
                    <p>
                       When the Pull Request is merged into master, the production workflow is triggered.
                        In the production workflow, the following events happen:
                    </p>
                    <ul>
                        <li>All the tests and checks are run again.</li>
                        <li>The docker image is built and uploaded to the docker hub.</li>
                <pre>
                    - name: Login to DockerHub
                        uses: docker/login-action@v1
                        with:
                          username: $&#123;&#123; secrets.DOCKER_USERNAME &#125;&#125;
                          password: $&#123;&#123; secrets.DOCKER_PASSWORD &#125;&#125;

                    - name: Extract metadata (tags, labels) for Docker
                        id: meta
                        uses: docker/metadata-action@v3
                        with:
                          images: sb232/docker_flask

                    - name: Build and push
                        uses: docker/build-push-action@v2
                        with:
                          context: .
                          push: true
                          tags: $&#123;&#123; steps.meta.outputs.tags &#125;&#125;
                          labels: $&#123;&#123; steps.meta.outputs.labels &#125;&#125;
                </pre>
                        <li>The new docker image is then deployed to the production Heroku app. Within the production yml file, we can observe the following:</li>
                <pre>
                      heroku_api_key: $&#123;&#123; secrets.HEROKU_API_KEY &#125;&#125;
                      heroku_app_name: "sumana-prod" #Must be unique in Heroku
                      heroku_email: "sb232@njit.edu"
                      usedocker: true
                </pre>
                    </ul>
                </div>
            </div>
        </div>

     <div class="col">

            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Citations</h5>
                    <p><a href="https://www.martinfowler.com/articles/continuousIntegration.html">[1] Continuous Integration</a>
                        <a href="https://www.martinfowler.com/bliki/ContinuousDelivery.html">[2] Continuous Delivery</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}