{% extends "base.html" %}
{% block content %}
    <h2>Python/Flask</h2>
    <div class="row">
        <div class="col-8">
            <p>
            <h5>Pytest</h5>
            -pytest is used to write small, readable tests which can be scaled to more complex testing.

            -pytest is written using simple ”assert” statements.

            </p>

            <p>
            <h5>Examples of pytest</h5>
            <h6>Example 1</h6>
    <pre>
        def test_request_index(client):
            """This makes the index page"""
            response = client.get("/")
            assert response.status_code == 200
            assert b"Index Page" in response.data
    </pre>
            This is a test for the index page of a website. This creates a test that checks if , the page
            successfully responded (status_code = 200) , and checks if the text “index page” is present in the page if not the
            test will fail.

            </p>

            <p>
            <h6>Example 2</h6>
    <pre>
        def test_context_variables_year(client):
            """This tests checks if the current year is printed"""
            response = client.get("/")
            current_date_time = datetime.datetime.now()
            date = current_date_time.date()
            year = date.strftime("%Y")
            test_string = f"Copyright: {year}"
            content = bytes(test_string, 'utf-8')
            assert response.status_code == 200
            assert content in response.data
    </pre>
            This test checks if the the page successfully responded (status_code = 200) and if the current date is
            getting printed on the
            Page.

            </p>

            <p>
            <h6>Example 3</h6>
    <pre>
        def test_request_main_menu_links(client):
            response = client.get("/")
            assert response.status_code == 200
            assert b'&lt;a class="nav-link" href="/git"&gt;GIT&lt;/a&gt;' in response.data
            assert b'&lt;a class="nav-link" href="/docker"&gt;Docker&lt;/a&gt;' in response.data
            assert b'&lt;a class="nav-link" href="/python-flask"&gt;Python/Flask&lt;/a&gt;' in response.data
            assert b'&lt;a class="nav-link" href="/ci-cd"&gt;CI/CD&lt;/a&gt;' in response.data
    </pre>
           This test checks if all the main menu items that appear in all pages are being linked correctly.
            </p>

            <p>
            <h5>Creation of 'Simple pages'</h5>
            <ul>
                <li>
                       First step is to make a directory ‘simple_pages’ that has a sub folder ‘templates’ which stores the html
            templates of all the pages.
                </li>
                <li>
                     By using a base template ‘base.html’ we can create multiple pages that extend this template and we can add
            additional features into each page
                </li>
                <li>
                The base template has the head and footer template and navbar items linking to specific pages.
                 </li>
                <li>
                Tests are written for each page in the simple pages/templates folder.
                   </li>
                <li>
                The tests check whether the page is loading and is responding and checks if the expected content is being
            loaded onto the page.
                </li>
                <li>
                  There is a test to check if all the links in the main menu are present.
                </li>
            </ul>
            </p>

            <p>
            <h5>Outline of the file structure</h5>

            <img src="{{ url_for('static', filename='images/File_Structure.png') }}" class="d-block w-100" alt="...">

            </p>
        </div>

        <div class="col">

            <div class="card mt-5" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Links</h5>
                    <p><a href="https://flask.palletsprojects.com/en/2.0.x/tutorial/tests/">Flask testing with
                        PyTest </a></p>
                    <p><a href="https://github.com/sumanaashok/IS601_Project_1">Link to the project on Github</a></p>
                    <p><a href="https://flask.palletsprojects.com/en/2.0.x/">Link to flask </a></p>
                    <p><a href="https://flask.palletsprojects.com/en/2.0.x/tutorial/views/">Flask Blueprint
                        documentation </a></p>
                </div>
            </div>

        </div>


    </div>



{% endblock %}